.modal {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset-inline: 0 0;
  inset-block: 0 0;
  z-index: 1;
}

.modal dialog {
  background: rgb(201, 184, 197);
  border-start-start-radius: 0.5em;
  border-end-start-radius: 0.5em;
  border-start-end-radius: 0.5em;
  border-end-end-radius: 0.5em;
  padding-inline: 1em;
  padding-block: 0.5em;
  text-align: center;
  margin-inline: auto;
  margin-block: auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.modal dialog h1 {
  font-size: 1.2em;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  margin: 0 0 30px 0;
  color: #333;
}

.modal dialog .solution {
  color: #ff004c;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
