@import "tailwindcss";

/* custom styles and animations */
@import "../assets/styles/flip.css";
@import "../assets/styles/bounce.css";

@custom-variant dark (&:is(.dark *));

:root {
  /* light */
  --text-1: oklch(16.961% 0.001 17.32);
  --text-2: oklch(30.649% 0.00724 17.291);
  --surface-1: oklch(92.951% 0.002 17.197);
  --surface-2: oklch(86.445% 0.002 17.197);
  --surface-3: oklch(79.938% 0.001 17.197);
  --primary: oklch(62.45% 0.278 3.836);
  --secondary: oklch(48.495% 0.11 355.095);
  --accent: oklch(56.273% 0.054 154.39);
  --destructive: oklch(71.76% 0.221 22.18);

  /* tile colors */
  --tile-grey: oklch(70.9% 0.00008 271.152);
  --tile-yellow: oklch(84.35% 0.123 97.163);
  --tile-green: oklch(74.387% 0.18055 143.515);
}

.dark {
  /* dark */
  --text-1: oklch(75.687% 0.123 76.89);
  --text-2: oklch(78.469% 0.13985 75.679);
  --surface-1: oklch(14.076% 0.004 285.822);
  --surface-2: oklch(20.219% 0.004 308.229);
  --surface-3: oklch(23.219% 0.004 308.229);
  --primary: oklch(100% 0 0);
  --secondary: oklch(27.581% 0.064 261.069);
  --accent: oklch(36.674% 0.051 338.825);
  --destructive: oklch(38.57% 0.11979 24.711);

  /* tile colors */
  --tile-grey: oklch(30.726% 0.00286 16.641);
  --tile-yellow: oklch(42.918% 0.0746 95.668);
  --tile-green: oklch(43.458% 0.12167 143.143);
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);

  --color-text-1: var(--text-1);
  --color-text-2: var(--text-2);
  --color-surface-1: var(--surface-1);
  --color-surface-2: var(--surface-2);
  --color-surface-3: var(--surface-3);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-destructive: var(--destructive);

  --color-tile-grey: var(--tile-grey);
  --color-tile-yellow: var(--tile-yellow);
  --color-tile-green: var(--tile-green);
}

@utility link {
  @apply font-sans font-semibold tracking-widest uppercase underline decoration-primary decoration-2 underline-offset-4 hover:decoration-accent;
}

@layer components {
  .button {
    @apply flex shrink-0 items-center justify-center gap-2 rounded-md border bg-primary px-4 py-2 font-semibold tracking-widest uppercase select-none;
    @apply hover:shadow-md;
    @apply active:scale-95 active:shadow-none;
    @apply data-disabled:pointer-events-none data-disabled:opacity-50 data-disabled:shadow-none;
    @apply [&_svg]:pointer-events-none [&_svg]:shrink-0;
  }

  .input {
    @apply rounded-md border bg-surface-3 px-2 py-1 font-normal placeholder:text-surface-1 any-pointer-coarse:text-base;
  }
}

@layer base {
  * {
    @apply border-primary/50 outline-accent/50;
  }

  html {
    scrollbar-color: var(--text-1) var(--surface-1);
  }

  body {
    @apply relative min-h-dvh bg-surface-1 font-mono text-base font-light text-text-1;
  }

  a,
  button,
  input {
    @apply transition duration-300 ease-in-out focus-visible:z-1 focus-visible:outline-2 focus-visible:outline-offset-1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply max-w-prose text-balance;
  }

  p {
    @apply max-w-prose text-pretty;
  }

  form {
    @apply grid;
  }

  b {
    @apply font-semibold;
  }
}
