.keypad {
  inline-size: 100%;
  block-size: 100%;
  display: grid;
  gap: 1em;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.keypad__key {
  inline-size: 100%;
  block-size: 100%;
}

.keypad__key--grey {
  background: #a1a1a1;
  color: #fff;
  transition: all 0.3s ease-in;
}

.keypad__key--green {
  background: #5ac85a;
  color: #fff;
  transition: all 0.3s ease-in;
}

.keypad__key--yellow {
  background: #e2cc68;
  color: #fff;
  transition: all 0.3s ease-in;
}

.keypad-status {
  inline-size: 100%;
  block-size: 100%;
  background: #fff;
  color: #666;
  padding-inline: 1em 1em;
  padding-block: 1em 1em;
}
