.control-panel {
  display: flex;
  gap: 1em;
  justify-content: space-evenly;
  align-items: center;
}

.control-panel__turns {
  background: none;
  border-inline: 2px solid #fff;
  border-block: 2px solid #fff;
  padding-inline: 0.5em;
  padding-block: 0.25em;
  border-start-start-radius: 0.5em;
  border-end-start-radius: 0.5em;
  border-start-end-radius: 0.5em;
  border-end-end-radius: 0.5em;
  display: flex;
  gap: 1ch;
  justify-content: center;
  align-items: center;
}

.control-panel__turns > img {
  inline-size: 3ch;
}

.control-panel > button > img {
  inline-size: 3ch;
}
