@import "tailwindcss";

@theme {
  --animate-flip: flip 0.5s ease forwards;
  --animate-bounce: bounce 0.2s ease-in-out forwards;

  @keyframes flip {
    0% {
      transform: rotateX(0);
      background: none;
      border-color: #666;
    }
    45% {
      transform: rotateX(90deg);
      background: none;
      border-color: #666;
    }
    55% {
      transform: rotateX(90deg);
      background: var(--_background);
      border-color: var(--_border-color);
    }
    100% {
      transform: rotateX(0deg);
      background: var(--_background);
      border-color: var(--_border-color);
    }
  }

  @keyframes bounce {
    0% {
      transform: scale(1);
      border-color: #666;
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
      border-color: #fff;
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin-inline: 0 0;
  margin-block: 0 0;
  padding-inline: 0 0;
  padding-block: 0 0;
}

/* || GENERAL STYLES */

img,
svg,
picture,
video {
  max-inline-size: 100%;
  display: block;
  block-size: auto;
  pointer-events: none;
}

button,
label,
input,
select,
progress,
meter,
textarea {
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin-inline: 0 0;
  margin-block: 0 0;
  padding-inline: 0 0;
  padding-block: 0 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  background: #1b1523;
  color: #fff;
  min-block-size: 100vh;
  min-block-size: 100svh;
  margin-inline: 0 0;
  margin-block: 0 0;
  padding-inline: 0 0;
  padding-block: 0 0;
}

button {
  border-inline: 0;
  border-block: 0;
  border-radius: 0.5em;
  padding: 0.5em;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  background: #1b1523;
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  box-shadow:
    inset 1px 1px 2px rgba(255, 255, 255, 0.6),
    inset -1px -1px 2px rgba(0, 0, 0, 0.6);
}

@media (hover: hover) and (pointer: fine) {
  button:hover {
    background-color: rgba(255, 0, 0, 1);
  }
}

button:active {
  box-shadow:
    inset -1px -1px 2px rgba(255, 255, 255, 0.6),
    inset 1px 1px 2px rgba(0, 0, 0, 0.6);
}

#root {
  min-block-size: 100cqb;
  display: grid;
}

.main-grid {
  min-block-size: 100cqb;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1em;
  padding: 1em;
}

footer {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}
