@theme inline {
  --animate-bounce: bounce 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;

  @keyframes bounce {
    0% {
      transform: translateY(0) scale(1);
      border-color: var(--color-primary);
    }

    35% {
      transform: translateY(-14%) scale(1.03);
    }

    65% {
      transform: translateY(4%) scale(0.99);
    }

    100% {
      transform: translateY(0) scale(1);
      border-color: var(--color-accent);
    }
  }
}
