@theme inline {
  --animate-flip: flip 0.5s ease forwards;

  @keyframes flip {
    0% {
      transform: rotateX(0);
      background: transparent;
    }
    45% {
      transform: rotateX(90deg);
      background: transparent;
    }
    55% {
      transform: rotateX(90deg);
      background: var(--_background);
    }
    100% {
      transform: rotateX(0deg);
      background: var(--_background);
    }
  }
}
